{%- extends "digital-land-frontend/dlf-base.html" %}
{%- from "digital-land-frontend/components/map/macro.html" import dlMap %}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        } ] + breadcrumb
    }) -}}
{%- endblock -%}

{% block content %}

<h1 class="govuk-heading-xl">{{ data_type|capitalize }}</h1>

{# <p class="govuk-body">Showing {{ index['count'] }} records from {{ index['organisation']|length }} organisations.</p> #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {%- for item in index['items'] %}
      {%- set ns = namespace(row_name="") %}
      {# {% if row['site'] %}
        {% set ns.row_name = row['site'] %}
          {% if row['site-address'] %}
          {% set ns.row_name = ns.row_name + ", " + row['site-address'] %}
          {% endif %}
        {% set ns.row_name = ns.row_name + " (" + row['slug']|clean_slug + ")" %}
      {% elif row['name'] %}
        {% set ns.row_name = row['slug']|clean_slug + " - " + row['name'] %}
      {% else %}
        {% set ns.row_name = row['slug']|clean_slug %}
        {% endif %} #}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-heading-s govuk-!-font-weight-regular dl-break-word govuk-body govuk-!-margin-bottom-0"><a class="govuk-link" href="{{ item['href'] }}">{{ item['reference'] }}</a></h4>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">{{ item['text'] }}</p>
      </div>
    </div>
    {%- endfor %}
  </div>
</div>


{% endblock content %}
